/* You can add global styles to this file, and also import other style files */
@import './app/variables.scss';

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: $ligth;
}

.gradient{
    background-image: url('./assets/hero.jpg');
    background-size: cover;
    background-position:center;
}

.full-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.full-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bg-primary{
    background: $primary!important;
}

.bg-secondary{
    background: $secondary;
}

.bg-complementary{
    background: $complementary;
}

.bg-dark{
    background: $dark;
}

.bg-ligth{
    background: $ligth;
}

.primary-text{
    color: $primary;
}

.secondary-text{
    color: $secondary;
}

.complementary-text{
    color: $complementary;
}

.shadow{
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.main{
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    max-width: 1200px;
    height: calc(100vh - 80px);
}

// Card style

.card-select{
    margin: 1% 0 0 1%;
    width: 48px;
    background: none;
    height: 80px;
    cursor: pointer;
    border: 3px solid $dark;
    color: $dark;
    background: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    h3{
        font-size: 19px;
        margin: 0;
    }
}

.cardBox {
    font-size: 1.2em;
    margin: 1% 0 0 1%;
    perspective: 800px;
    transition: all 0.3s ease 0s;
    width: 58px;
    color: white;
}

.empty-card{
    background: $secondary;
    cursor: default;
    height: 90px;
    width: 58px;
}

.cardBox:hover .card {
    transform: rotateY( 180deg);
}

.card {
    background: #222;
    cursor: default;
    height: 90px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 100%;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
}

.card p {
    margin-bottom: 1.8em;
}

.card .front,
.card .back {
    backface-visibility: hidden;
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 1.2em;
    height: 100%;
    padding: 0.8em;
    position: absolute;
    text-align: center;
    width: 100%;
    border: 5px solid gray;
}

.card .front strong {
    background: #fff;
    border-radius: 100%;
    color: #222;
    font-size: 1.5em;
    line-height: 30px;
    padding: 0 7px 4px 6px;
}

.card .back {
    transform: rotateY( 180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.card .back h3{
    font-size: 30px;
    margin: 0;
}

.float{
    animation: float 6s ease-in-out infinite;
}

@-webkit-keyframes giro {
    from {
        transform: rotateY( 180deg);
    }
    to {
        transform: rotateY( 0deg);
    }
}

@keyframes giro {
    from {
        transform: rotateY( 180deg);
    }
    to {
        transform: rotateY( 0deg);
    }
}
// End card Style

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}